.select2-results .acf-multisite-page-link-post-type {
  float: right;
  color: #888;
}

.select2-results .select2-highlighted .acf-multisite-page-link-post-type {
  color: #fff;
}

.select2-chosen .acf-multisite-page-link-post-type {
  display: none;
}

.select2-results .select2-result-unselectable  {
  display: none;
}

.select2-results .select2-result-unselectable.select2-result-with-children {
  display: block;
}